@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

h1{
    text-align: center;
}

#RudasID{
    color: rgb(75, 45, 20);
}
.raudonastekstas{
    color: red;
}

.padidintasTekstas{
    font-size: 20px;
}

.paverstasTekstas{
    font-style:italic;

}