@use 'reset';
@use 'vars';
@use 'common';


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body {
  font-family: 'Poppins', sans-serif;
}

// latest news

.late-news {
    background-color: #333;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
  
    .container>.btn {
      margin-bottom: 2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    .news__title {
      text-align: center;
      font-size: 2rem;
    }
  
    .news__subtitle {
      font-weight: 300;
      text-align: center;
    }
  
    .news-posts {
      display: grid;
      gap: 1rem;
    }
  
    .single-post {
      display: flex;
      flex-direction: column;
  
      &__description {
        background-color: #fff;
        color: #333;
        padding: 1rem;
      }
  
      &__title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
  
      &__short {
        margin-bottom: 2rem;
      }
  
      &__link {
        color: var(--main-color)
      }
    }
  }
  // COunters
.counters {
    padding: 3rem 0;
    background-color: orange;
    background: url('../sass/images/count-bg.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;

    .counters__card{
        color: white;
        position: absolute;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .card_number{
        padding: 2rem;
    }

    .card-number__number{
        font-size: 5rem;
        font-weight: 700;
        padding: 1rem;
    }

    .card-number__word{
        font-size: 1.2rem;
        font-weight: 700;
    }
  }

// team 

.team-container{
  background-color:white ;
}

.person-name{
  padding: 1rem;


   h4{
  color: #5e5e5e;
  font-size: 1.2rem;
  padding-top: 1.2rem;
  margin-bottom: 1rem;
   }

  .person-name__title{
  color: rgb(241, 139, 109);}
  font-size: 1rem;
  font-weight:100;

}

.team-person{
  display: flex;
  margin-left: 1rem;
 padding: 2rem;
 
.person-image{
  max-width: 100%;
  align-self: center;
  margin-bottom: 2rem;

  .person-image__photo{
    border-radius: 50%;
    padding: 1rem;
    min-width: 150px;
  }
}

.person-name__list{
  gap: 1em;
  list-style: none;
  display: flex;
  padding: 0;

}

.team__icon{
  border: 1px solid black;
  border-color: rgb(241, 139, 109);
  color: rgb(241, 139, 109);
  padding: 0.5rem;
  border-radius: 50%;
}

}


  @import 'media';

